<nav style="background-color: #050d35;">
    <div class="container">
        <div class="row">
            <div class="nav-wrapper">
                <h6 class="brand-logo offset-s3">Mongo Scraper</h6>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Saved Articles</a></li>
                    <li><button class="waves-effect waves-light btn beer-btn beer-me"><a href="/scrape">Beer me Articles</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Home</a></li>
    <li><a href="badges.html">Saved Articles</a></li>
    <li><button class="waves-effect waves-light btn beer-btn beer-me">Beer me Articles</button></li>
</ul>


<div class="parallax-container">
    <div class="parallax"><img
            src="https://media.nbcboston.com/images/652*367/julyGettyImages-467241850.jpg">
    </div>
    <h1 class="parallaxText center white-text">Scrape the News</h1>
</div>

<div class="container">



</div>