<div class="parallax-container">
    <div class="parallax"><img style="width: 100%;"
            src="https://media.nbcboston.com/images/652*367/julyGettyImages-467241850.jpg">
    </div>
    <h1 class="parallaxText center white-text">Mongo-Scraper</h1>
</div>

<div class="container">



</div>